/* color palette from <https://github.com/vuejs/theme> */
:root {

  --color-primary: #42b883;
  --color-primary-dark: #359c6d;
  --color-secondary: #f0f0f0;
  --color-secondary-dark: #e0e0e0;
  --color-danger: #e74c3c;
  --color-danger-dark: #c0392b;
  --color-disabled: #cccccc;
  --color-success: #42b883;
  --color-error: #e74c3c;
  --color-chart-bar: #3498db;
  --color-chart-bar-failed: #e74c3c;
  --color-text-muted: #666;
  --color-border: #ddd;
  --color-border-light: #eee;
  --color-background-light: #f9f9f9;
  --color-background-card: white;
  --color-background-progress: #eee;
  --color-background: #fff;
  --color-text: #2c3e50;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-text);
  margin-top: 60px;
  background-color: var(--color-background);
}